@media only screen and (max-width: 600px) {
    body {
      background-color: rgb(255, 255, 255);
    }
    .overlay{
      font-size: 12px;
    }
    .text-center {
      font-size: 11px;
    }
    .accordion-item{
      width: 100%;
      
  }
    .accordion-header{
      font-size: 11px;
    }
    .accordion-body{
      font-size: 8px;
    }
    .background-section {
  
    
      background-repeat: no-repeat;
      
      height: 100%;
      background-image: url('Group 1000003005(1).png'); /* Replace with your image path */
      
  }
  .empowering{
    margin-top: 27px;
     font-size: 24px;
     font-weight: 600;
     line-height: normal;
     color: rgb(0, 0, 0);
     text-align: center;
 }
  
  }